h1{
    text-align: center;
    color: aquamarine;
    background-color: crimson;
}
h2{
    text-align: center;
    color: yellowgreen;
    background-color: crimson;
}
h4{
    color: darkorange;
}
p{
    color: darkviolet;
}
body{
    background-image: url(../images/04.jpg);
}